

<div class="datetime">

  <%=day%>
</div>

<div class="box1">
  <div class="namebox">
    <label class="labeling">Task:</label><input class="textarea" type="text" name="name" value=""></input>
    <label class="labeling">Note:</label><input class="textarea" type="text" name="explain" value=""></input>


    <button type="button" class="btn btn-warning textbutton">Add Task</button>
<br>
    <label class="labeling" >Date</label>
    <input class="textarea" type="date" name="Date" value="">
    <label class="labeling" >Time</label>
    <input class="textarea" type="time" id="appt" name="appt"
       min="09:00" max="18:00" required>
  </div>

</div>
